@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Bungee Spice', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E3CEB9;

}

h1 {
    margin-bottom: 30px;
    font-size: xxx-large;
}

.container {
    border: 3px solid #229C87;
    border-radius: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;


}

.box {
    box-sizing: border-box;
    border: 0.5px solid grey;
    border-radius: 0.2rem;
}

button {
    border-radius: 10px;
    font-weight: bold;
    font-size: 35px;
    color: #bb932c;
    font-family: "Source Code Pro", Monaco, monospace;
    border: 2px solid #bb932c;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgoldenrodyellow;
}

button:hover {
    background-color: brown;
    border: 2px solid yellow;
}

.hover {
    background: aqua;
}